@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #000;
    --secondary-color: #f6f6f6;
    --tertiary-color: #22d4fd;
    --color-hover: #272727;
    --text-color: #333;
    --text-color-secondary: #666;
    --fuente-montserrat: 'Montserrat', serif;
    --fuente-krona: 'Krona One', serif;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    /* font-size: 100%; */
    list-style-type: none;
    background: var(--primary-color);
    color: var(--tertiary-color);
}

.header {
    padding: 2% 0 0 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--fuente-krona);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--tertiary-color);
}

.presentacion {
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    gap: 82px;
}

.presentacion__contenido {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
    color: var(--secondary-color);
}

.presentacion__contenido__titulo {
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

h1 > strong {
    color: var(--tertiary-color);
}

.presentacion__contenido__texto {
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    font-size: 1.5rem;
}

.presentacion__contenido__texto a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.presentacion__contenido__enlaces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.presentacion__contenido__enlaces_subtitulo {
    font-family: var(--fuente-krona);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.presentacion__contenido__enlaces__link {
    margin: 10px;
    background: var(--primary-color);
    color: var(--secondary-color);
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border: 1px solid var(--tertiary-color);
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    line-height: 2.25rem;
}

.presentacion__contenido__enlaces__link:hover {
    background: var(--color-hover);
}

.presentacion__imagen {
    width: 50%;
    height: 25%;
}

.footer {
    background: var(--tertiary-color);
    padding: 23px;
    font-family: var(--fuente-montserrat);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: var(--primary-color);
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .header {
        padding: 2% 0 0 10%;
    }
    .header__menu {
        justify-content: center;
    }
    .presentacion {
        flex-direction: column-reverse;
        align-items: center;
        padding: 5%;
    }
    .presentacion__contenido {
        width: auto;
    }
}
